#right-panel {
    line-height: 30px;
    padding-left: 10px;
    color: #2b3756;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    float: left;
}

#right-panel {
    display: none;
    float: right;
    width: 34%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.panel {
    height: 100%;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 25px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    height: auto;
    width: 64%;
    padding-left: 5%;
    padding-right: 20%;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    color: rgba(45, 58, 78, 1);
}

#get-route-button {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgba(45, 58, 78, .1);
    color: rgba(45, 58, 78, .1);
    padding: 8px 18px;
    border-radius: 3px;
    font-weight: bold;
}

#duration-container, #distance-container {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgba(45, 58, 78, .7);
    padding-left: 15px;
    border-radius: 3px;
    font-size: 13px;
}

#total, #totalDuration {
    font-size: 15px;
    font-weight: bold;
    color: rgba(45, 58, 78, 1);
    margin-left: 5px;
}

#get-route-button:hover {
    border: 2px solid rgba(45, 58, 78, 1);
    color: rgba(45, 58, 78, 1);
    cursor: pointer;
}
